This notebook uses [the world population data from World Bank](https://data.worldbank.org/indicator/SP.POP.TOTL)

The code below loads the data from the CSV file

In [1]:
import pandas as pd
data = pd.read_csv('data/WorldBank_world_population.csv', skiprows=3).set_index('Country Name')
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN

In [2]:
data.index

Index(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra', 'Arab World',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       ...
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country Name', length=264)

In [3]:
data.columns

Index(['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', 'Unnamed: 63'],
      dtype='object')

In [4]:
data.dtypes

Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
1961              float64
                   ...
2015              float64
2016              float64
2017              float64
2018              float64
Unnamed: 63       float64
Length: 63, dtype: object

In [5]:
pop2018 = data['2018']
pop2018.head()

Country Name
Aruba            105845.0
Afghanistan    37172386.0
Angola         30809762.0
Albania         2866376.0
Andorra           77006.0
Name: 2018, dtype: float64

In [8]:
type(pop2018)

pandas.core.series.Series

# Indexing and selection with Series

`pop2018` is a series that contains population data for year 2018

Answer the following questions using indexing and selection operators

In [9]:
pop2018['United States']

327167434.0

In [10]:
pop2018.loc['United States']

327167434.0

- What is the population of the `United States`?

In [11]:
pop2018['United States'] = pop2018['United States'] + 1

C:\Users\hanisaf\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

- Increase that number by 1

In [12]:
pop2018[ ['United States', 'Canada', 'Mexico'] ]

Country Name
United States    327167435.0
Canada            37058856.0
Mexico           126190788.0
Name: 2018, dtype: float64

In [13]:
pop2018.loc[ ['United States', 'Canada', 'Mexico'] ]

Country Name
United States    327167435.0
Canada            37058856.0
Mexico           126190788.0
Name: 2018, dtype: float64

- Select the population values of the `United States`, `Canada`, and `Mexico`?

In [14]:
pop2018.head(5)

Country Name
Aruba            105845.0
Afghanistan    37172386.0
Angola         30809762.0
Albania         2866376.0
Andorra           77006.0
Name: 2018, dtype: float64

In [19]:
pop2018.iloc[:5]

Country Name
Aruba            105845.0
Afghanistan    37172386.0
Angola         30809762.0
Albania         2866376.0
Andorra           77006.0
Name: 2018, dtype: float64

In [17]:
pop2018[:5]

Country Name
Aruba            105845.0
Afghanistan    37172386.0
Angola         30809762.0
Albania         2866376.0
Andorra           77006.0
Name: 2018, dtype: float64

- Select the population values of the first five countries in the series

In [20]:
pop2018.tail()

Country Name
Kosovo           1845300.0
Yemen, Rep.     28498687.0
South Africa    57779622.0
Zambia          17351822.0
Zimbabwe        14439018.0
Name: 2018, dtype: float64

In [21]:
pop2018[-5:]

Country Name
Kosovo           1845300.0
Yemen, Rep.     28498687.0
South Africa    57779622.0
Zambia          17351822.0
Zimbabwe        14439018.0
Name: 2018, dtype: float64

In [22]:
pop2018.iloc[-5:]

Country Name
Kosovo           1845300.0
Yemen, Rep.     28498687.0
South Africa    57779622.0
Zambia          17351822.0
Zimbabwe        14439018.0
Name: 2018, dtype: float64

- Select the population values of the last five countries in the series

In [24]:
pop2018[pop2018 > 1e9]

Country Name
China                                           1.392730e+09
East Asia & Pacific (excluding high income)     2.081652e+09
Early-demographic dividend                      3.249141e+09
East Asia & Pacific                             2.328221e+09
High income                                     1.210312e+09
IBRD only                                       4.772284e+09
IDA & IBRD total                                6.412522e+09
IDA total                                       1.640238e+09
IDA only                                        1.084408e+09
India                                           1.352617e+09
Least developed countries: UN classification    1.009663e+09
Lower middle income                             3.022905e+09
Low & middle income                             6.383958e+09
Late-demographic dividend                       2.288666e+09
Middle income                                   5.678541e+09
OECD members                                    1.303529e+09
Post-demographic dividend                       1.109997e+09
South Asia                                      1.814389e+09
Sub-Saharan Africa (excluding high income)      1.078210e+09
Sub-Saharan Africa                              1.078307e+09
East Asia & Pacific (IDA & IBRD countries)      2.056064e+09
South Asia (IDA & IBRD)                         1.814389e+09
Sub-Saharan Africa (IDA & IBRD countries)       1.078307e+09
Upper middle income                             2.655636e+09
World                                           7.594270e+09
Name: 2018, dtype: float64

- Select the population values that are larger than one billion

# Indexing and selection with DataFrame

- Select data of years 2017 and 2018

In [28]:
#data['2017':'2018']

In [26]:
data[['2017', '2018']]

                    2017        2018
Country Name
Aruba           105366.0    105845.0
Afghanistan   36296400.0  37172386.0
Angola        29816748.0  30809762.0
Albania        2873457.0   2866376.0
Andorra          77001.0     77006.0
...                  ...         ...
Kosovo         1830700.0   1845300.0
Yemen, Rep.   27834821.0  28498687.0
South Africa  57000451.0  57779622.0
Zambia        16853688.0  17351822.0
Zimbabwe      14236745.0  14439018.0

[264 rows x 2 columns]

In [29]:
data.loc[:, ['2017', '2018']]

                    2017        2018
Country Name
Aruba           105366.0    105845.0
Afghanistan   36296400.0  37172386.0
Angola        29816748.0  30809762.0
Albania        2873457.0   2866376.0
Andorra          77001.0     77006.0
...                  ...         ...
Kosovo         1830700.0   1845300.0
Yemen, Rep.   27834821.0  28498687.0
South Africa  57000451.0  57779622.0
Zambia        16853688.0  17351822.0
Zimbabwe      14236745.0  14439018.0

[264 rows x 2 columns]

In [30]:
data.loc[:, '2017':'2018']

                    2017        2018
Country Name
Aruba           105366.0    105845.0
Afghanistan   36296400.0  37172386.0
Angola        29816748.0  30809762.0
Albania        2873457.0   2866376.0
Andorra          77001.0     77006.0
...                  ...         ...
Kosovo         1830700.0   1845300.0
Yemen, Rep.   27834821.0  28498687.0
South Africa  57000451.0  57779622.0
Zambia        16853688.0  17351822.0
Zimbabwe      14236745.0  14439018.0

[264 rows x 2 columns]

- Select entries of countries `United States`, `Canada`, and `Mexico`

In [33]:
# data.loc[['United States', 'Canada', 'Mexico'] # or
data.loc[['United States', 'Canada', 'Mexico'], :]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
United States,USA,"Population, total",SP.POP.TOTL,180671000.0,183691000.0,186538000.0,189242000.0,191889000.0,194303000.0,196560000.0,...,309326085.0,311580009.0,313874218.0,316057727.0,318386421.0,320742673.0,323071342.0,325147121.0,327167435.0,NaN
Canada,CAN,"Population, total",SP.POP.TOTL,17909009.0,18271000.0,18614000.0,18964000.0,19325000.0,19678000.0,20048000.0,...,34004889.0,34339328.0,34714222.0,35082954.0,35437435.0,35702908.0,36109487.0,36540268.0,37058856.0,NaN
Mexico,MEX,"Population, total",SP.POP.TOTL,37771859.0,38966056.0,40195319.0,41462369.0,42771079.0,44123853.0,45519737.0,...,114092963.0,115695473.0,117274155.0,118827161.0,120355128.0,121858258.0,123333376.0,124777324.0,126190788.0,NaN

- Select data of countries `United States`, `Canada`, and `Mexico` in years 2017 and 2018

In [34]:
data.loc[['United States', 'Canada', 'Mexico'], '2017':'2018']

                      2017         2018
Country Name
United States  325147121.0  327167435.0
Canada          36540268.0   37058856.0
Mexico         124777324.0  126190788.0

In [35]:
data.loc[['United States', 'Canada', 'Mexico'], ['2017', '2018']]

                      2017         2018
Country Name
United States  325147121.0  327167435.0
Canada          36540268.0   37058856.0
Mexico         124777324.0  126190788.0

- Select data of years 2000 to 2018

In [37]:
data.loc[:, '2000':'2018']

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,
Aruba,90853.0,92898.0,94992.0,97017.0,98737.0,100031.0,100834.0,101222.0,101358.0,101455.0,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0
Afghanistan,20779953.0,21606988.0,22600770.0,23680871.0,24726684.0,25654277.0,26433049.0,27100536.0,27722276.0,28394813.0,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0
Angola,16395473.0,16945753.0,17519417.0,18121479.0,18758145.0,19433602.0,20149901.0,20905363.0,21695634.0,22514281.0,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0
Albania,3089027.0,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0
Andorra,65390.0,67341.0,70049.0,73182.0,76244.0,78867.0,80993.0,82684.0,83862.0,84463.0,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,1700000.0,1701154.0,1702310.0,1703466.0,1704622.0,1705780.0,1719536.0,1733404.0,1747383.0,1761474.0,1775680.0,1791000.0,1805200.0,1824100.0,1821800.0,1801800.0,1816200.0,1830700.0,1845300.0
"Yemen, Rep.",17409072.0,17918373.0,18443691.0,18985000.0,19540098.0,20107409.0,20687646.0,21282515.0,21892146.0,22516460.0,23154855.0,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0,28498687.0
South Africa,44967708.0,45571274.0,46150913.0,46719196.0,47291610.0,47880601.0,48489459.0,49119759.0,49779471.0,50477011.0,51216964.0,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0,57000451.0,57779622.0
Zambia,10415944.0,10692193.0,10971698.0,11256743.0,11550642.0,11856247.0,12173514.0,12502958.0,12848530.0,13215139.0,13605984.0,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0,17351822.0
Zimbabwe,11881477.0,11923914.0,11954290.0,11982224.0,12019912.0,12076699.0,12155491.0,12255922.0,12379549.0,12526968.0,12697723.0,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0,14439018.0

- Select entries of countries from `Aruba` to `Azerbaijan`?

In [39]:
data.loc['Aruba':'Azerbaijan', :]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN
Arab World,ARB,"Population, total",SP.POP.TOTL,92197753.0,94724510.0,97334442.0,100034179.0,102832760.0,105736431.0,108758610.0,...,354890042.0,363158703.0,371443547.0,379705719.0,387907748.0,396028278.0,404024433.0,411898965.0,419790588.0,NaN
United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,92418.0,100796.0,112118.0,125130.0,138039.0,149857.0,159976.0,...,8549988.0,8946777.0,9141596.0,9197910.0,9214175.0,9262900.0,9360980.0,9487203.0,9630959.0,NaN
Argentina,ARG,"Population, total",SP.POP.TOTL,20481779.0,20817266.0,21153052.0,21488912.0,21824425.0,22159650.0,22494035.0,...,40788453.0,41261490.0,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,NaN
Armenia,ARM,"Population, total",SP.POP.TOTL,1874121.0,1941492.0,2009526.0,2077578.0,2145001.0,2211319.0,2276034.0,...,2877319.0,2876538.0,2884229.0,2897584.0,2912403.0,2925553.0,2936146.0,2944809.0,2951776.0,NaN
American Samoa,ASM,"Population, total",SP.POP.TOTL,20123.0,20602.0,21253.0,22034.0,22854.0,23672.0,24462.0,...,56079.0,55759.0,55667.0,55713.0,55791.0,55812.0,55741.0,55620.0,55465.0,NaN
Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,54131.0,55001.0,55841.0,56702.0,57641.0,58698.0,59915.0,...,88028.0,89253.0,90409.0,91516.0,92562.0,93566.0,94527.0,95426.0,96286.0,NaN
Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,11651000.0,...,22031750.0,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24601860.0,24992369.0,NaN
Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,7322066.0,...,8363404.0,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8847037.0,NaN
Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3895397.0,4030322.0,4171426.0,4315127.0,4456687.0,4592609.0,4721523.0,...,9054332.0,9173082.0,9295784.0,9416801.0,9535079.0,9649341.0,9757812.0,9854033.0,9942334.0,NaN

- Select entries of countries that had more that a billion people in year 2000?

In [42]:
data[data['2000'] > 1e9]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
China,CHN,"Population, total",SP.POP.TOTL,6.670700e+08,6.603300e+08,6.657700e+08,6.823350e+08,6.983550e+08,7.151850e+08,7.354000e+08,...,1.337705e+09,1.344130e+09,1.350695e+09,1.357380e+09,1.364270e+09,1.371220e+09,1.378665e+09,1.386395e+09,1.392730e+09,NaN
East Asia & Pacific (excluding high income),EAP,"Population, total",SP.POP.TOTL,8.948801e+08,8.944841e+08,9.064188e+08,9.296400e+08,9.524998e+08,9.763664e+08,1.003806e+09,...,1.965964e+09,1.980046e+09,1.994401e+09,2.008932e+09,2.023609e+09,2.038203e+09,2.053117e+09,2.068156e+09,2.081652e+09,NaN
Early-demographic dividend,EAR,"Population, total",SP.POP.TOTL,9.800853e+08,1.003279e+09,1.027290e+09,1.052060e+09,1.077621e+09,1.103955e+09,1.131050e+09,...,2.908288e+09,2.951856e+09,2.994853e+09,3.037663e+09,3.080325e+09,3.122842e+09,3.165142e+09,3.207189e+09,3.249141e+09,NaN
East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,1.040958e+09,1.044545e+09,1.059019e+09,1.084796e+09,1.110214e+09,1.136691e+09,1.166600e+09,...,2.206885e+09,2.221673e+09,2.236819e+09,2.252047e+09,2.267482e+09,2.282856e+09,2.298514e+09,2.314202e+09,2.328221e+09,NaN
High income,HIC,"Population, total",SP.POP.TOTL,7.601939e+08,7.715468e+08,7.815584e+08,7.915008e+08,8.013495e+08,8.108320e+08,8.197087e+08,...,1.157826e+09,1.163336e+09,1.170223e+09,1.177175e+09,1.184323e+09,1.191327e+09,1.198350e+09,1.204430e+09,1.210312e+09,NaN
IBRD only,IBD,"Population, total",SP.POP.TOTL,1.916726e+09,1.937366e+09,1.970953e+09,2.016413e+09,2.061940e+09,2.108649e+09,2.158536e+09,...,4.421851e+09,4.465853e+09,4.510297e+09,4.555068e+09,4.599655e+09,4.643768e+09,4.687686e+09,4.731120e+09,4.772284e+09,NaN
IDA & IBRD total,IBT,"Population, total",SP.POP.TOTL,2.299828e+09,2.329751e+09,2.372990e+09,2.428491e+09,2.484475e+09,2.542065e+09,2.603294e+09,...,5.793480e+09,5.869060e+09,5.945149e+09,6.022137e+09,6.099662e+09,6.177553e+09,6.256138e+09,6.335040e+09,6.412522e+09,NaN
IDA total,IDA,"Population, total",SP.POP.TOTL,3.831016e+08,3.923849e+08,4.020371e+08,4.120781e+08,4.225351e+08,4.334158e+08,4.447585e+08,...,1.371629e+09,1.403207e+09,1.434852e+09,1.467069e+09,1.500007e+09,1.533785e+09,1.568452e+09,1.603919e+09,1.640238e+09,NaN
India,IND,"Population, total",SP.POP.TOTL,4.505477e+08,4.596422e+08,4.690772e+08,4.788256e+08,4.888481e+08,4.991233e+08,5.096315e+08,...,1.234281e+09,1.250289e+09,1.265783e+09,1.280846e+09,1.295604e+09,1.310152e+09,1.324510e+09,1.338659e+09,1.352617e+09,NaN
Lower middle income,LMC,"Population, total",SP.POP.TOTL,9.284905e+08,9.497537e+08,9.717428e+08,9.944202e+08,1.017726e+09,1.041611e+09,1.066075e+09,...,2.688437e+09,2.730386e+09,2.772231e+09,2.814221e+09,2.856124e+09,2.898058e+09,2.939831e+09,2.981421e+09,3.022905e+09,NaN
Low & middle income,LMY,"Population, total",SP.POP.TOTL,2.271826e+09,2.301531e+09,2.344508e+09,2.399685e+09,2.455351e+09,2.512792e+09,2.573991e+09,...,5.765121e+09,5.840676e+09,5.916770e+09,5.993786e+09,6.071331e+09,6.149221e+09,6.227753e+09,6.306561e+09,6.383958e+09,NaN
Late-demographic dividend,LTE,"Population, total",SP.POP.TOTL,1.097404e+09,1.099797e+09,1.114452e+09,1.140425e+09,1.165967e+09,1.192235e+09,1.221253e+09,...,2.181529e+09,2.194531e+09,2.207633e+09,2.220999e+09,2.234569e+09,2.248128e+09,2.262159e+09,2.276319e+09,2.288666e+09,NaN
Middle income,MIC,"Population, total",SP.POP.TOTL,2.113046e+09,2.139271e+09,2.178677e+09,2.230156e+09,2.281941e+09,2.335283e+09,2.392151e+09,...,5.187847e+09,5.248584e+09,5.309857e+09,5.371871e+09,5.433980e+09,5.495816e+09,5.557635e+09,5.619111e+09,5.678541e+09,NaN
OECD members,OED,"Population, total",SP.POP.TOTL,7.913092e+08,8.036294e+08,8.145769e+08,8.254955e+08,8.363953e+08,8.469708e+08,8.570490e+08,...,1.242310e+09,1.248425e+09,1.256043e+09,1.263988e+09,1.272283e+09,1.280467e+09,1.288747e+09,1.296226e+09,1.303529e+09,NaN
Post-demographic dividend,PST,"Population, total",SP.POP.TOTL,7.545144e+08,7.653115e+08,7.747550e+08,7.840538e+08,7.931870e+08,8.020297e+08,8.103022e+08,...,1.074869e+09,1.077839e+09,1.082371e+09,1.087128e+09,1.092096e+09,1.097025e+09,1.101992e+09,1.106035e+09,1.109997e+09,NaN
South Asia,SAS,"Population, total",SP.POP.TOTL,5.728395e+08,5.849397e+08,5.974944e+08,6.104983e+08,6.239433e+08,6.378232e+08,6.521442e+08,...,1.638793e+09,1.661534e+09,1.683747e+09,1.705772e+09,1.727641e+09,1.749417e+09,1.771167e+09,1.792836e+09,1.814389e+09,NaN
East Asia & Pacific (IDA & IBRD countries),TEA,"Population, total",SP.POP.TOTL,8.834456e+08,8.828080e+08,8.945362e+08,9.175631e+08,9.402054e+08,9.638063e+08,9.909274e+08,...,1.941377e+09,1.955334e+09,1.969563e+09,1.983964e+09,1.998513e+09,2.012981e+09,2.027771e+09,2.042688e+09,2.056064e+09,NaN
South Asia (IDA & IBRD),TSA,"Population, total",SP.POP.TOTL,5.728395e+08,5.849397e+08,5.974944e+08,6.104983e+08,6.239433e+08,6.378232e+08,6.521442e+08,...,1.638793e+09,1.661534e+09,1.683747e+09,1.705772e+09,1.727641e+09,1.749417e+09,1.771167e+09,1.792836e+09,1.814389e+09,NaN
Upper middle income,UMC,"Population, total",SP.POP.TOTL,1.184556e+09,1.189517e+09,1.206934e+09,1.235735e+09,1.264215e+09,1.293671e+09,1.326076e+09,...,2.499410e+09,2.518198e+09,2.537626e+09,2.557650e+09,2.577856e+09,2.597758e+09,2.617805e+09,2.637691e+09,2.655636e+09,NaN
World,WLD,"Population, total",SP.POP.TOTL,3.032020e+09,3.073078e+09,3.126066e+09,3.191186e+09,3.256700e+09,3.323624e+09,3.393699e+09,...,6.922947e+09,7.004011e+09,7.086994e+09,7.170962e+09,7.255654e+09,7.340548e+09,7.426103e+09,7.510990e+09,7.594270e+09,NaN

In [43]:
data.loc[data['2000'] > 1e9]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
China,CHN,"Population, total",SP.POP.TOTL,6.670700e+08,6.603300e+08,6.657700e+08,6.823350e+08,6.983550e+08,7.151850e+08,7.354000e+08,...,1.337705e+09,1.344130e+09,1.350695e+09,1.357380e+09,1.364270e+09,1.371220e+09,1.378665e+09,1.386395e+09,1.392730e+09,NaN
East Asia & Pacific (excluding high income),EAP,"Population, total",SP.POP.TOTL,8.948801e+08,8.944841e+08,9.064188e+08,9.296400e+08,9.524998e+08,9.763664e+08,1.003806e+09,...,1.965964e+09,1.980046e+09,1.994401e+09,2.008932e+09,2.023609e+09,2.038203e+09,2.053117e+09,2.068156e+09,2.081652e+09,NaN
Early-demographic dividend,EAR,"Population, total",SP.POP.TOTL,9.800853e+08,1.003279e+09,1.027290e+09,1.052060e+09,1.077621e+09,1.103955e+09,1.131050e+09,...,2.908288e+09,2.951856e+09,2.994853e+09,3.037663e+09,3.080325e+09,3.122842e+09,3.165142e+09,3.207189e+09,3.249141e+09,NaN
East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,1.040958e+09,1.044545e+09,1.059019e+09,1.084796e+09,1.110214e+09,1.136691e+09,1.166600e+09,...,2.206885e+09,2.221673e+09,2.236819e+09,2.252047e+09,2.267482e+09,2.282856e+09,2.298514e+09,2.314202e+09,2.328221e+09,NaN
High income,HIC,"Population, total",SP.POP.TOTL,7.601939e+08,7.715468e+08,7.815584e+08,7.915008e+08,8.013495e+08,8.108320e+08,8.197087e+08,...,1.157826e+09,1.163336e+09,1.170223e+09,1.177175e+09,1.184323e+09,1.191327e+09,1.198350e+09,1.204430e+09,1.210312e+09,NaN
IBRD only,IBD,"Population, total",SP.POP.TOTL,1.916726e+09,1.937366e+09,1.970953e+09,2.016413e+09,2.061940e+09,2.108649e+09,2.158536e+09,...,4.421851e+09,4.465853e+09,4.510297e+09,4.555068e+09,4.599655e+09,4.643768e+09,4.687686e+09,4.731120e+09,4.772284e+09,NaN
IDA & IBRD total,IBT,"Population, total",SP.POP.TOTL,2.299828e+09,2.329751e+09,2.372990e+09,2.428491e+09,2.484475e+09,2.542065e+09,2.603294e+09,...,5.793480e+09,5.869060e+09,5.945149e+09,6.022137e+09,6.099662e+09,6.177553e+09,6.256138e+09,6.335040e+09,6.412522e+09,NaN
IDA total,IDA,"Population, total",SP.POP.TOTL,3.831016e+08,3.923849e+08,4.020371e+08,4.120781e+08,4.225351e+08,4.334158e+08,4.447585e+08,...,1.371629e+09,1.403207e+09,1.434852e+09,1.467069e+09,1.500007e+09,1.533785e+09,1.568452e+09,1.603919e+09,1.640238e+09,NaN
India,IND,"Population, total",SP.POP.TOTL,4.505477e+08,4.596422e+08,4.690772e+08,4.788256e+08,4.888481e+08,4.991233e+08,5.096315e+08,...,1.234281e+09,1.250289e+09,1.265783e+09,1.280846e+09,1.295604e+09,1.310152e+09,1.324510e+09,1.338659e+09,1.352617e+09,NaN
Lower middle income,LMC,"Population, total",SP.POP.TOTL,9.284905e+08,9.497537e+08,9.717428e+08,9.944202e+08,1.017726e+09,1.041611e+09,1.066075e+09,...,2.688437e+09,2.730386e+09,2.772231e+09,2.814221e+09,2.856124e+09,2.898058e+09,2.939831e+09,2.981421e+09,3.022905e+09,NaN
Low & middle income,LMY,"Population, total",SP.POP.TOTL,2.271826e+09,2.301531e+09,2.344508e+09,2.399685e+09,2.455351e+09,2.512792e+09,2.573991e+09,...,5.765121e+09,5.840676e+09,5.916770e+09,5.993786e+09,6.071331e+09,6.149221e+09,6.227753e+09,6.306561e+09,6.383958e+09,NaN
Late-demographic dividend,LTE,"Population, total",SP.POP.TOTL,1.097404e+09,1.099797e+09,1.114452e+09,1.140425e+09,1.165967e+09,1.192235e+09,1.221253e+09,...,2.181529e+09,2.194531e+09,2.207633e+09,2.220999e+09,2.234569e+09,2.248128e+09,2.262159e+09,2.276319e+09,2.288666e+09,NaN
Middle income,MIC,"Population, total",SP.POP.TOTL,2.113046e+09,2.139271e+09,2.178677e+09,2.230156e+09,2.281941e+09,2.335283e+09,2.392151e+09,...,5.187847e+09,5.248584e+09,5.309857e+09,5.371871e+09,5.433980e+09,5.495816e+09,5.557635e+09,5.619111e+09,5.678541e+09,NaN
OECD members,OED,"Population, total",SP.POP.TOTL,7.913092e+08,8.036294e+08,8.145769e+08,8.254955e+08,8.363953e+08,8.469708e+08,8.570490e+08,...,1.242310e+09,1.248425e+09,1.256043e+09,1.263988e+09,1.272283e+09,1.280467e+09,1.288747e+09,1.296226e+09,1.303529e+09,NaN
Post-demographic dividend,PST,"Population, total",SP.POP.TOTL,7.545144e+08,7.653115e+08,7.747550e+08,7.840538e+08,7.931870e+08,8.020297e+08,8.103022e+08,...,1.074869e+09,1.077839e+09,1.082371e+09,1.087128e+09,1.092096e+09,1.097025e+09,1.101992e+09,1.106035e+09,1.109997e+09,NaN
South Asia,SAS,"Population, total",SP.POP.TOTL,5.728395e+08,5.849397e+08,5.974944e+08,6.104983e+08,6.239433e+08,6.378232e+08,6.521442e+08,...,1.638793e+09,1.661534e+09,1.683747e+09,1.705772e+09,1.727641e+09,1.749417e+09,1.771167e+09,1.792836e+09,1.814389e+09,NaN
East Asia & Pacific (IDA & IBRD countries),TEA,"Population, total",SP.POP.TOTL,8.834456e+08,8.828080e+08,8.945362e+08,9.175631e+08,9.402054e+08,9.638063e+08,9.909274e+08,...,1.941377e+09,1.955334e+09,1.969563e+09,1.983964e+09,1.998513e+09,2.012981e+09,2.027771e+09,2.042688e+09,2.056064e+09,NaN
South Asia (IDA & IBRD),TSA,"Population, total",SP.POP.TOTL,5.728395e+08,5.849397e+08,5.974944e+08,6.104983e+08,6.239433e+08,6.378232e+08,6.521442e+08,...,1.638793e+09,1.661534e+09,1.683747e+09,1.705772e+09,1.727641e+09,1.749417e+09,1.771167e+09,1.792836e+09,1.814389e+09,NaN
Upper middle income,UMC,"Population, total",SP.POP.TOTL,1.184556e+09,1.189517e+09,1.206934e+09,1.235735e+09,1.264215e+09,1.293671e+09,1.326076e+09,...,2.499410e+09,2.518198e+09,2.537626e+09,2.557650e+09,2.577856e+09,2.597758e+09,2.617805e+09,2.637691e+09,2.655636e+09,NaN
World,WLD,"Population, total",SP.POP.TOTL,3.032020e+09,3.073078e+09,3.126066e+09,3.191186e+09,3.256700e+09,3.323624e+09,3.393699e+09,...,6.922947e+09,7.004011e+09,7.086994e+09,7.170962e+09,7.255654e+09,7.340548e+09,7.426103e+09,7.510990e+09,7.594270e+09,NaN

- Select the first five rows

In [44]:
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN

In [45]:
data[:5]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN

In [46]:
data.iloc[:5]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN

- Select the first five rows and the first five columns

In [47]:
data.iloc[:5, :5]

,Country Code,Indicator Name,Indicator Code,1960,1961
Country Name,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0