This notebook uses [the world population data from World Bank](https://data.worldbank.org/indicator/SP.POP.TOTL)

The code below loads the data from the CSV file

In [1]:
import pandas as pd
data = pd.read_csv('data/WorldBank_world_population.csv', skiprows=3).set_index('Country Name')
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN

# Indexing and selection with Series

`pop2018` is a series that contains population data for year 2018

In [2]:
pop2018 = data['2018']
pop2018.head()

Country Name
Aruba            105845.0
Afghanistan    37172386.0
Angola         30809762.0
Albania         2866376.0
Andorra           77006.0
Name: 2018, dtype: float64

- What is the most populous country?

In [3]:
largest_value = sorted(pop2018)[-1]
largest_value

7594270356.0

In [4]:
# or 
largest_value = max(pop2018)
largest_value

7594270356.0

In [7]:
pop2018[pop2018==largest_value].index[0]

'World'

In [13]:
pop2018.sort_values(ascending=False).index[0]

'World'

- What are the three least popolus countries?

In [14]:
pop2018.sort_values()[:3]

Country Name
Tuvalu    11508.0
Nauru     12704.0
Palau     17907.0
Name: 2018, dtype: float64

# Indexing and selection with DataFrame

In [16]:
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN

- Select entries of countries with names starting with letter A

In [11]:
sorted_data = data.sort_index()

In [12]:
i = 0
for country_name in sorted_data.index:
    if country_name[0] == 'A':
        i = i + 1
    else:
        break

In [13]:
sorted_data.iloc[:i]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Algeria,DZA,"Population, total",SP.POP.TOTL,11057863.0,11336339.0,11619828.0,11912803.0,12221675.0,12550885.0,12902627.0,...,35977455.0,36661444.0,37383887.0,38140132.0,38923687.0,39728025.0,40551404.0,41389198.0,42228429.0,NaN
American Samoa,ASM,"Population, total",SP.POP.TOTL,20123.0,20602.0,21253.0,22034.0,22854.0,23672.0,24462.0,...,56079.0,55759.0,55667.0,55713.0,55791.0,55812.0,55741.0,55620.0,55465.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,54131.0,55001.0,55841.0,56702.0,57641.0,58698.0,59915.0,...,88028.0,89253.0,90409.0,91516.0,92562.0,93566.0,94527.0,95426.0,96286.0,NaN
Arab World,ARB,"Population, total",SP.POP.TOTL,92197753.0,94724510.0,97334442.0,100034179.0,102832760.0,105736431.0,108758610.0,...,354890042.0,363158703.0,371443547.0,379705719.0,387907748.0,396028278.0,404024433.0,411898965.0,419790588.0,NaN
Argentina,ARG,"Population, total",SP.POP.TOTL,20481779.0,20817266.0,21153052.0,21488912.0,21824425.0,22159650.0,22494035.0,...,40788453.0,41261490.0,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,NaN
Armenia,ARM,"Population, total",SP.POP.TOTL,1874121.0,1941492.0,2009526.0,2077578.0,2145001.0,2211319.0,2276034.0,...,2877319.0,2876538.0,2884229.0,2897584.0,2912403.0,2925553.0,2936146.0,2944809.0,2951776.0,NaN
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,11651000.0,...,22031750.0,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24601860.0,24992369.0,NaN
Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,7322066.0,...,8363404.0,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8847037.0,NaN
Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3895397.0,4030322.0,4171426.0,4315127.0,4456687.0,4592609.0,4721523.0,...,9054332.0,9173082.0,9295784.0,9416801.0,9535079.0,9649341.0,9757812.0,9854033.0,9942334.0,NaN

In [17]:
#or

In [14]:
data.loc[['Armenia', "Aruba"]]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Armenia,ARM,"Population, total",SP.POP.TOTL,1874121.0,1941492.0,2009526.0,2077578.0,2145001.0,2211319.0,2276034.0,...,2877319.0,2876538.0,2884229.0,2897584.0,2912403.0,2925553.0,2936146.0,2944809.0,2951776.0,NaN
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN

In [15]:
a_countries  = [
    country_name for country_name in data.index
    if country_name[0]=='A'
]

In [16]:
data.loc[a_countries]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,...,101669.0,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,NaN
Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,...,29185507.0,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,NaN
Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,...,23356246.0,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,NaN
Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,NaN
Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,...,84449.0,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,NaN
Arab World,ARB,"Population, total",SP.POP.TOTL,92197753.0,94724510.0,97334442.0,100034179.0,102832760.0,105736431.0,108758610.0,...,354890042.0,363158703.0,371443547.0,379705719.0,387907748.0,396028278.0,404024433.0,411898965.0,419790588.0,NaN
Argentina,ARG,"Population, total",SP.POP.TOTL,20481779.0,20817266.0,21153052.0,21488912.0,21824425.0,22159650.0,22494035.0,...,40788453.0,41261490.0,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,NaN
Armenia,ARM,"Population, total",SP.POP.TOTL,1874121.0,1941492.0,2009526.0,2077578.0,2145001.0,2211319.0,2276034.0,...,2877319.0,2876538.0,2884229.0,2897584.0,2912403.0,2925553.0,2936146.0,2944809.0,2951776.0,NaN
American Samoa,ASM,"Population, total",SP.POP.TOTL,20123.0,20602.0,21253.0,22034.0,22854.0,23672.0,24462.0,...,56079.0,55759.0,55667.0,55713.0,55791.0,55812.0,55741.0,55620.0,55465.0,NaN
Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,54131.0,55001.0,55841.0,56702.0,57641.0,58698.0,59915.0,...,88028.0,89253.0,90409.0,91516.0,92562.0,93566.0,94527.0,95426.0,96286.0,NaN
Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,11651000.0,...,22031750.0,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24601860.0,24992369.0,NaN
Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,7322066.0,...,8363404.0,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8847037.0,NaN
Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3895397.0,4030322.0,4171426.0,4315127.0,4456687.0,4592609.0,4721523.0,...,9054332.0,9173082.0,9295784.0,9416801.0,9535079.0,9649341.0,9757812.0,9854033.0,9942334.0,NaN
Algeria,DZA,"Population, total",SP.POP.TOTL,11057863.0,11336339.0,11619828.0,11912803.0,12221675.0,12550885.0,12902627.0,...,35977455.0,36661444.0,37383887.0,38140132.0,38923687.0,39728025.0,40551404.0,41389198.0,42228429.0,NaN

- Select entries of countries whose names contain `america`

In [17]:
data.loc [
    [c_n for c_n in data.index
     if 'america' in c_n.lower()
    ]
]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Name,,,,,,,,,,,,,,,,,,,,,
American Samoa,ASM,"Population, total",SP.POP.TOTL,20123.0,20602.0,21253.0,22034.0,22854.0,23672.0,24462.0,...,56079.0,55759.0,55667.0,55713.0,55791.0,55812.0,55741.0,55620.0,55465.0,NaN
Latin America & Caribbean (excluding high income),LAC,"Population, total",SP.POP.TOTL,204214185.0,209991788.0,215945959.0,222052829.0,228279229.0,234599288.0,241005051.0,...,559867514.0,566309408.0,572713225.0,579053861.0,585296422.0,591416820.0,597399287.0,603254104.0,609013934.0,NaN
Latin America & Caribbean,LCN,"Population, total",SP.POP.TOTL,219907801.0,225993884.0,232265533.0,238696012.0,245233432.0,251850859.0,258538106.0,...,590303295.0,596966199.0,603586217.0,610151927.0,616619613.0,622986033.0,629240066.0,635372515.0,641357515.0,NaN
North America,NAC,"Population, total",SP.POP.TOTL,198624409.0,202007500.0,205198600.0,208253700.0,211262900.0,214031100.0,216659000.0,...,343396098.0,345983901.0,348653238.0,351205682.0,353888995.0,356510820.0,359245384.0,361751263.0,364290258.0,NaN
Latin America & the Caribbean (IDA & IBRD countries),TLA,"Population, total",SP.POP.TOTL,209830870.0,215714204.0,221761892.0,227953108.0,234259729.0,240659602.0,247146615.0,...,574171371.0,580856609.0,587491182.0,594063071.0,600555906.0,606956985.0,613258172.0,619460244.0,625569713.0,NaN