This notebook uses the [GapMinder data set](https://www.gapminder.org)

In [1]:
import pandas as pd
data = pd.read_csv("data/gapminder.tsv", sep='\t')
data.head() # show five entries

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Answer the following questions using indexing operations
- Create a table which rows are `country` and columns are `year`. Values are the country's `pop` in that year
- What is the average `pop` per year
- What is the average `pop` per continent

In [2]:
pop2 = data.set_index(['country', 'year'])['pop']
pop2.head()

country      year
Afghanistan  1952     8425333
             1957     9240934
             1962    10267083
             1967    11537966
             1972    13079460
Name: pop, dtype: int64

In [3]:
data2=pop2.unstack('year')
data2.head()

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Afghanistan,8425333,9240934,10267083,11537966,13079460,14880372,12881816,13867957,16317921,22227415,25268405,31889923
Albania,1282697,1476505,1728137,1984060,2263554,2509048,2780097,3075321,3326498,3428038,3508512,3600523
Algeria,9279525,10270856,11000948,12760499,14760787,17152804,20033753,23254956,26298373,29072015,31287142,33333216
Angola,4232095,4561361,4826015,5247469,5894858,6162675,7016384,7874230,8735988,9875024,10866106,12420476
Argentina,17876956,19610538,21283783,22934225,24779799,26983828,29341374,31620918,33958947,36203463,38331121,40301927

In [9]:
data2.mean()

year
1952    1.695040e+07
1957    1.876341e+07
1962    2.042101e+07
1967    2.265830e+07
1972    2.518998e+07
1977    2.767638e+07
1982    3.020730e+07
1987    3.303857e+07
1992    3.599092e+07
1997    3.883947e+07
2002    4.145759e+07
2007    4.402122e+07
dtype: float64

In [7]:
data2.T.mean()

country
Afghanistan                 1.582372e+07
Albania                     2.580249e+06
Algeria                     1.987541e+07
Angola                      7.309390e+06
Argentina                   2.860224e+07
Australia                   1.464931e+07
Austria                     7.583298e+06
Bahrain                     3.739132e+05
Bangladesh                  9.075540e+07
Belgium                     9.725119e+06
Benin                       4.017497e+06
Bolivia                     5.610395e+06
Bosnia and Herzegovina      3.816525e+06
Botswana                    9.711862e+05
Brazil                      1.223121e+08
Bulgaria                    8.182985e+06
Burkina Faso                7.548677e+06
Burundi                     4.651608e+06
Cambodia                    8.510431e+06
Cameroon                    9.816648e+06
Canada                      2.446297e+07
Central African Republic    2.560963e+06
Chad                        5.329256e+06
Chile                       1.120573e+07
China                       9.581601e+08
Colombia                    2.725610e+07
Comoros                     3.616839e+05
Congo, Dem. Rep.            3.268166e+07
Congo, Rep.                 1.923209e+06
Costa Rica                  2.400008e+06
                                ...
Sierra Leone                3.605425e+06
Singapore                   2.667817e+06
Slovak Republic             4.774507e+06
Slovenia                    1.794381e+06
Somalia                     5.197198e+06
South Africa                2.992835e+07
Spain                       3.585180e+07
Sri Lanka                   1.454583e+07
Sudan                       2.156033e+07
Swaziland                   6.790520e+05
Sweden                      8.220029e+06
Switzerland                 6.384293e+06
Syria                       9.865379e+06
Taiwan                      1.687472e+07
Tanzania                    2.049950e+07
Thailand                    4.496163e+07
Togo                        2.895964e+06
Trinidad and Tobago         1.006470e+06
Tunisia                     6.686770e+06
Turkey                      4.590901e+07
Uganda                      1.436105e+07
United Kingdom              5.608780e+07
United States               2.282112e+08
Uruguay                     2.912487e+06
Venezuela                   1.512980e+07
Vietnam                     5.456857e+07
West Bank and Gaza          1.848606e+06
Yemen, Rep.                 1.084319e+07
Zambia                      6.353805e+06
Zimbabwe                    7.641966e+06
Length: 142, dtype: float64

In [35]:
# change the default formatting of pandas numbers to avoid scientific formatting
pd.options.display.float_format = lambda x: '{0:.2f}'.format(x)

In [36]:
data2.mean()

year
1952   16950402.46
1957   18763412.54
1962   20421006.86
1967   22658298.48
1972   25189979.99
1977   27676378.92
1982   30207301.69
1987   33038573.37
1992   35990917.32
1997   38839468.11
2002   41457588.58
2007   44021219.57
dtype: float64

In [37]:
data2.T.mean()

country
Afghanistan                 15823715.42
Albania                      2580249.17
Algeria                     19875406.17
Angola                       7309390.08
Argentina                   28602239.92
Australia                   14649312.50
Austria                      7583298.42
Bahrain                       373913.17
Bangladesh                  90755395.33
Belgium                      9725118.67
Benin                        4017496.67
Bolivia                      5610395.17
Bosnia and Herzegovina       3816524.75
Botswana                      971186.17
Brazil                     122312126.67
Bulgaria                     8182985.33
Burkina Faso                 7548677.25
Burundi                      4651608.33
Cambodia                     8510430.67
Cameroon                     9816648.42
Canada                      24462967.33
Central African Republic     2560963.00
Chad                         5329256.33
Chile                       11205725.33
China                      958160051.92
Colombia                    27256099.58
Comoros                       361683.92
Congo, Dem. Rep.            32681655.25
Congo, Rep.                  1923209.08
Costa Rica                   2400007.75
                               ...
Sierra Leone                 3605424.92
Singapore                    2667817.42
Slovak Republic              4774507.08
Slovenia                     1794381.42
Somalia                      5197197.83
South Africa                29928352.17
Spain                       35851798.42
Sri Lanka                   14545831.75
Sudan                       21560331.42
Swaziland                     679052.00
Sweden                       8220028.92
Switzerland                  6384293.17
Syria                        9865378.75
Taiwan                      16874723.92
Tanzania                    20499497.67
Thailand                    44961631.17
Togo                         2895964.00
Trinidad and Tobago          1006469.67
Tunisia                      6686770.25
Turkey                      45909008.25
Uganda                      14361049.42
United Kingdom              56087800.67
United States              228211232.50
Uruguay                      2912487.17
Venezuela                   15129801.33
Vietnam                     54568570.92
West Bank and Gaza           1848606.50
Yemen, Rep.                 10843191.83
Zambia                       6353804.83
Zimbabwe                     7641966.08
Length: 142, dtype: float64