In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Scrape data about [UGA Football Record](https://www.sicemdawgs.com/uga-football-records/vs-all-opponents/) from `https://www.sicemdawgs.com/uga-football-records/vs-all-opponents/`

- What is the first team that UGA played against
- What are the most challenging opponents?

In [2]:
response = requests.get("https://www.sicemdawgs.com/uga-football-records/vs-all-opponents/")

In [3]:
response.status_code

200

In [11]:
soup = BeautifulSoup(response.text, 'html')

In [12]:
rows = soup.find_all('tr')

In [27]:
def process_row(row):
    try:
        values = row.find_all('td')
        opponent = values[0].text
        firstgame = values[1].text
        lastgame = values[2].text
        games = values[3].text
        win = values[4].text
        lost = values[5].text
        tie = values[6].text
        return {"Opponent":opponent, "First Game":firstgame, "Last Game":lastgame,
                "G": games, "W":win, "L": lost, "T":tie}
    except Exception as error:
        print("Cannot process row " + str(row))
        return None

In [61]:
data = [process_row(row) for row in rows]

Cannot process row <tr><th class="schgry1">Opponent</th><th class="schgry2">First Game</th><th class="schgry2">Last Game</th><th class="schgry2">G</th><th class="schgry2">W</th><th class="schgry2">L</th><th class="schgry2">T</th></tr>
Cannot process row <tr><td class="ros2" colspan="7">**Georgia discredits losses to Georgia Tech in 1943 (48-0) and 1944 (44-0) due to WWII.</td></tr>
Cannot process row <tr><td class="ros2" colspan="7">**Formerly known as Oklahoma A&amp;M.</td></tr>

In [62]:
data = [d for d in data if d is not None]

In [63]:
df = pd.DataFrame(data)

In [64]:
df.dtypes

First Game    object
G             object
L             object
Last Game     object
Opponent      object
T             object
W             object
dtype: object

In [65]:
df=df[["Opponent", "First Game", "Last Game", "G", "W", "L", "T"]].set_index("Opponent")

In [66]:
df.dtypes

First Game    object
Last Game     object
G             object
W             object
L             object
T             object
dtype: object

In [68]:
df = df.applymap(pd.to_numeric) #convert all values to numbers

In [69]:
df.head()

                      First Game  Last Game   G   W   L  T
Opponent
Alabama                     1895       2018  69  25  40  4
Alabama Presbyterian        1911       1913   2   2   0  0
Appalachian State           2013       2017   2   2   0  0
Arizona                     1985       1985   1   0   0  1
Arizona State               2008       2009   2   2   0  0

In [75]:
#What is the first team that UGA played against
first_year = df.sort_values("First Game").iloc[0, 0]
df[df['First Game']==first_year]

          First Game  Last Game    G   W   L  T
Opponent
Auburn          1892       2018  123  59  54  8
Mercer          1892       1941   22  22   0  0

In [76]:
list(df[df['First Game']==first_year].index)

['Auburn', 'Mercer']

In [77]:
# What are the most challenging opponents?
# define challenging as hard to win against
df['difficulty'] = df['L'] / (df['W'] + df['L'])
df.sort_values('difficulty', ascending=False)

                     First Game  Last Game   G   W   L  T  difficulty
Opponent
Holy Cross                 1937       1939   3   0   3  0    1.000000
Harvard                    1921       1921   1   0   1  0    1.000000
Rice                       1936       1936   1   0   1  0    1.000000
Chicago                    1922       1922   1   0   1  0    1.000000
Navy                       1916       1957   2   0   2  0    1.000000
Southern California        1931       1960   3   0   3  0    1.000000
Stanford                   1978       1978   1   0   1  0    1.000000
Syracuse                   1989       1989   1   0   1  0    1.000000
Miami, Ohio                1974       1974   1   0   1  0    1.000000
Cumberland                 1905       1905   1   0   1  0    1.000000
West Virginia              2006       2006   1   0   1  0    1.000000
Pittsburgh                 1973       1982   4   0   3  1    1.000000
Texas                      1949       2019   5   1   4  0    0.800000
Houston                    1967       2001   4   1   2  1    0.666667
Wake Forest                1943       1979   3   1   2  0    0.666667
Nebraska                   1969       2014   3   1   2  0    0.666667
Savannah A.C.              1893       1906   4   1   2  1    0.666667
Alabama                    1895       2018  69  25  40  4    0.615385
Texas A&M                  1950       2009   5   2   3  0    0.600000
Maryland                   1948       1973   6   2   3  1    0.600000
Sewanee                    1894       1919  13   5   7  1    0.583333
LSU                        1928       2018  31  13  17  1    0.566667
Central Florida            1999       2010   2   1   1  0    0.500000
Columbia                   1940       1941   2   1   1  0    0.500000
Davidson                   1901       1909   5   2   2  1    0.500000
Dartmouth                  1921       1941   2   1   1  0    0.500000
Daniel Field               1943       1944   2   1   1  0    0.500000
Tennessee                  1899       2018  48  23  23  2    0.500000
Colorado                   2006       2010   2   1   1  0    0.500000
Centre                     1923       1941   3   1   1  1    0.500000
...                         ...        ...  ..  ..  .. ..         ...
Middle Tennessee           2003       2018   2   2   0  0    0.000000
Locust Grove               1910       1910   1   1   0  0    0.000000
Citadel                    1909       1958  10   9   0  1    0.000000
Louisville                 2014       2014   1   1   0  0    0.000000
Dahlonega                  1905       1915   6   6   0  0    0.000000
Mercer                     1892       1941  22  22   0  0    0.000000
Memphis State              1982       1984   2   2   0  0    0.000000
Nicholls State             2016       2016   1   1   0  0    0.000000
Idaho State                2010       2010   1   1   0  0    0.000000
North Texas                2013       2013   1   1   0  0    0.000000
Northwestern State         2002       2002   1   1   0  0    0.000000
Richmond                   1975       1986   3   3   0  0    0.000000
California                 1976       1981   2   2   0  0    0.000000
Purdue                     1999       2004   2   2   0  0    0.000000
Presbyterian               1943       1944   3   3   0  0    0.000000
Cal State-Fullerton        1991       1992   2   2   0  0    0.000000
Central Michigan           2008       2008   1   1   0  0    0.000000
Pennsylvania               1952       1952   1   1   0  0    0.000000
Oregon State               1971       1987   3   3   0  0    0.000000
Florida Atlantic           2012       2012   1   1   0  0    0.000000
Duquesne                   1949       1949   1   1   0  0    0.000000
Duke                       1986       1986   1   1   0  0    0.000000
Oklahoma                   2018       2018   1   1   0  0    0.000000
Ohio State                 1993       1993   1   1   0  0    0.000000
Howard                     1943       1943   1   1   0  0    0.000000
Notre Dame                 1981       2017   2   2   0  0    0.000000
Oregon                     1977       1977   1   1   0  0    0.000000
Arizona                    1985       1985   1   0   0  1         NaN
Fordham                    1936       1936   1   0   0  1         NaN
St. Mary’s                 1950       1950   1   0   0  1         NaN

[139 rows x 7 columns]

In [78]:
df.sort_values(['G', 'difficulty'], ascending=False)

                         First Game  Last Game    G   W   L  T  difficulty
Opponent
Auburn                         1892       2018  123  59  54  8    0.477876
Georgia Tech                   1893       2018  111  67  39  5    0.367925
Florida                        1904       2018   97  52  43  2    0.452632
Vanderbilt                     1893       2018   79  57  20  2    0.259740
Kentucky                       1939       2018   72  59  11  2    0.157143
South Carolina                 1894       2018   71  51  18  2    0.260870
Alabama                        1895       2018   69  25  40  4    0.615385
Clemson                        1897       2014   64  42  18  4    0.300000
Tennessee                      1899       2018   48  23  23  2    0.500000
Ole Miss                       1940       2016   46  32  13  1    0.288889
LSU                            1928       2018   31  13  17  1    0.566667
North Carolina                 1895       2016   31  17  12  2    0.413793
Tulane                         1919       1985   25  14  10  1    0.416667
Mississippi State              1914       2017   24  18   6  0    0.250000
Furman                         1893       1950   23  21   2  0    0.086957
Mercer                         1892       1941   22  22   0  0    0.000000
Virginia                       1897       2000   19   9   7  3    0.437500
Arkansas                       1969       2014   14  10   4  0    0.285714
Sewanee                        1894       1919   13   5   7  1    0.583333
Miami, Florida                 1937       1966   12   7   4  1    0.363636
Yale                           1923       1934   11   6   5  0    0.454545
Florida State                  1954       2003   11   6   4  1    0.400000
Citadel                        1909       1958   10   9   0  1    0.000000
Chattanooga                    1912       1949    9   8   0  1    0.000000
NC State                       1933       1973    8   6   1  1    0.142857
Missouri                       1960       2018    8   7   1  0    0.125000
Oglethorpe                     1920       1940    8   7   1  0    0.125000
Maryland                       1948       1973    6   2   3  1    0.600000
New York                       1929       1939    6   3   3  0    0.500000
Dahlonega                      1905       1915    6   6   0  0    0.000000
...                             ...        ...  ...  ..  .. ..         ...
Hardin-Simmons                 1959       1959    1   1   0  0    0.000000
Hawaii                         2007       2007    1   1   0  0    0.000000
Howard                         1943       1943    1   1   0  0    0.000000
Idaho State                    2010       2010    1   1   0  0    0.000000
Jacksonville Naval A.S.        1942       1942    1   1   0  0    0.000000
Kent                           1998       1998    1   1   0  0    0.000000
Locust Grove                   1910       1910    1   1   0  0    0.000000
Louisville                     2014       2014    1   1   0  0    0.000000
Marshall                       2004       2004    1   1   0  0    0.000000
Murray State                   1945       1945    1   1   0  0    0.000000
Nicholls State                 2016       2016    1   1   0  0    0.000000
North Texas                    2013       2013    1   1   0  0    0.000000
Northwestern State             2002       2002    1   1   0  0    0.000000
Ohio State                     1993       1993    1   1   0  0    0.000000
Oklahoma                       2018       2018    1   1   0  0    0.000000
Oregon                         1977       1977    1   1   0  0    0.000000
Pennsylvania                   1952       1952    1   1   0  0    0.000000
Samford                        2017       2017    1   1   0  0    0.000000
Southern                       2015       2015    1   1   0  0    0.000000
Southern Methodist             1966       1966    1   1   0  0    0.000000
Stetson                        1934       1934    1   1   0  0    0.000000
Utah State                     1999       1999    1   1   0  0    0.000000
UMass                          2018       2018    1   1   0  0    0.000000
Villanova                      1953       1953    1   1   0  0    0.000000
Western Kentucky               2006       2006    1   1   0  0    0.000000
William & Mary                 1988       1988    1   1   0  0    0.000000
Wyoming                        1998       1998    1   1   0  0    0.000000
Arizona                        1985       1985    1   0   0  1         NaN
Fordham                        1936       1936    1   0   0  1         NaN
St. Mary’s                     1950       1950    1   0   0  1         NaN

[139 rows x 7 columns]

In [79]:
# or weigh difficulty by the number of games
df['challenging'] = df['G'] * df['difficulty']
df.sort_values('challenging', ascending=False)

,First Game,Last Game,G,W,L,T,difficulty,challenging
Opponent,,,,,,,,
Auburn,1892,2018,123,59,54,8,0.477876,58.778761
Florida,1904,2018,97,52,43,2,0.452632,43.905263
Alabama,1895,2018,69,25,40,4,0.615385,42.461538
Georgia Tech,1893,2018,111,67,39,5,0.367925,40.839623
Tennessee,1899,2018,48,23,23,2,0.500000,24.000000
Vanderbilt,1893,2018,79,57,20,2,0.259740,20.519481
Clemson,1897,2014,64,42,18,4,0.300000,19.200000
South Carolina,1894,2018,71,51,18,2,0.260870,18.521739
LSU,1928,2018,31,13,17,1,0.566667,17.566667
Ole Miss,1940,2016,46,32,13,1,0.288889,13.288889
North Carolina,1895,2016,31,17,12,2,0.413793,12.827586
Kentucky,1939,2018,72,59,11,2,0.157143,11.314286
Tulane,1919,1985,25,14,10,1,0.416667,10.416667
Virginia,1897,2000,19,9,7,3,0.437500,8.312500
Sewanee,1894,1919,13,5,7,1,0.583333,7.583333
Mississippi State,1914,2017,24,18,6,0,0.250000,6.000000
Yale,1923,1934,11,6,5,0,0.454545,5.000000
Florida State,1954,2003,11,6,4,1,0.400000,4.400000
"Miami, Florida",1937,1966,12,7,4,1,0.363636,4.363636
Texas,1949,2019,5,1,4,0,0.800000,4.000000
Pittsburgh,1973,1982,4,0,3,1,1.000000,4.000000
Arkansas,1969,2014,14,10,4,0,0.285714,4.000000
Maryland,1948,1973,6,2,3,1,0.600000,3.600000
New York,1929,1939,6,3,3,0,0.500000,3.000000
Southern California,1931,1960,3,0,3,0,1.000000,3.000000
Texas A&M,1950,2009,5,2,3,0,0.600000,3.000000
Holy Cross,1937,1939,3,0,3,0,1.000000,3.000000
Savannah A.C.,1893,1906,4,1,2,1,0.666667,2.666667
Houston,1967,2001,4,1,2,1,0.666667,2.666667
Davidson,1901,1909,5,2,2,1,0.500000,2.500000
...,...,...,...,...,...,...,...,...
Howard,1943,1943,1,1,0,0,0.000000,0.000000
Marshall,2004,2004,1,1,0,0,0.000000,0.000000
Idaho State,2010,2010,1,1,0,0,0.000000,0.000000
Louisville,2014,2014,1,1,0,0,0.000000,0.000000
Locust Grove,1910,1910,1,1,0,0,0.000000,0.000000
Brigham Young,1982,1982,1,1,0,0,0.000000,0.000000
Florida Atlantic,2012,2012,1,1,0,0,0.000000,0.000000
Newberry,1915,1922,2,2,0,0,0.000000,0.000000
New Mexico State,1995,2011,4,4,0,0,0.000000,0.000000
Duquesne,1949,1949,1,1,0,0,0.000000,0.000000
Purdue,1999,2004,2,2,0,0,0.000000,0.000000
Presbyterian,1943,1944,3,3,0,0,0.000000,0.000000
Duke,1986,1986,1,1,0,0,0.000000,0.000000
Pennsylvania,1952,1952,1,1,0,0,0.000000,0.000000
Oregon State,1971,1987,3,3,0,0,0.000000,0.000000
Oregon,1977,1977,1,1,0,0,0.000000,0.000000
Austin Peay,2018,2018,1,1,0,0,0.000000,0.000000
Oklahoma,2018,2018,1,1,0,0,0.000000,0.000000
California,1976,1981,2,2,0,0,0.000000,0.000000
Ohio State,1993,1993,1,1,0,0,0.000000,0.000000
East Carolina,1990,1990,1,1,0,0,0.000000,0.000000
Notre Dame,1981,2017,2,2,0,0,0.000000,0.000000
Northwestern State,2002,2002,1,1,0,0,0.000000,0.000000
North Texas,2013,2013,1,1,0,0,0.000000,0.000000
Baylor,1972,1989,4,4,0,0,0.000000,0.000000
Central Michigan,2008,2008,1,1,0,0,0.000000,0.000000
Nicholls State,2016,2016,1,1,0,0,0.000000,0.000000
Arizona,1985,1985,1,0,0,1,NaN,NaN
Fordham,1936,1936,1,0,0,1,NaN,NaN
St. Mary’s,1950,1950,1,0,0,1,NaN,NaN